{% extends 'base.html' %}

{% load static %}

{% block title %} | Welcome {% endblock %}

{% block content %}

     <!-- HOME -->
  <div class=" w3-section w3-display-container w3-small" style="width:100%;">
       

     <div class="w3-display-container w3-section">
          <img class="mySlides" src="{% static "images/slider-image1.jpg" %}" style="width:100%; height: 620px;">
          <div class="w3-display-topleft w3-margin w3-text-white w3-container w3-padding-32">
                    <h2 class="w3-text-white">Our Belief</h2>
                    <h4 class="w3-text-white">Every ministry should grow to its full potential.</h4>
                    <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>
          </div>
     </div>


     <div class="w3-display-container w3-section">
               <img class="mySlides" src="{% static "images/slider-image2.jpg" %}" style="width:100%; height: 620px;">
               <div class="w3-display-topleft w3-margin w3-text-white w3-container w3-padding-32">
                    <h2 class="w3-text-white">We know how much you fight to commit to your call</h2>
                    <h4 class="w3-text-white">Our plan is you to achieve your  goal.</h4>
                    <a href="#feature" class="section-btn btn btn-default smoothScroll">Learn more</a>
               </div>
          </div>
     
          
     <div class="w3-display-container w3-section">
               <img class="mySlides" src="{% static "images/slider-image3.jpg" %}" style="width:100%; height: 620px;">
               <div class="w3-display-topleft w3-margin w3-text-white w3-container w3-padding-32">
                         <h2 class="w3-text-white">Start Today Become a partner</h2>
                         <h4 class="w3-text-white"> What we have achieved so far is because of our partners.</h4>
                         <a href="#contact" class="section-btn btn btn-default smoothScroll">Join Us</a>
               </div>
          </div>

    
          <button class="w3-button w3-jumbo w3-text-white w3-hover-none  w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
          <button class="w3-button w3-jumbo w3-text-white w3-hover-none w3-display-right" onclick="plusDivs(1)">&#10095;</button>

</div>

 <div class="w3-card w3-yellow">
      {% if partners %}
          {% for partner in partners %}

          {% endfor %}
          <div class="col-md-12">
               <p>No Partners Available</p>
          </div>
      {% endif %}
 </div>


     <!-- FEATURE -->
     <section id="feature">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>01</span>
                              <h3>Mission</h3>
                              <p>Known is free education HTML Bootstrap Template. You can download and use this for your website.</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>02</span>
                              <h3>Vision</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>03</span>
                              <h3>Goal</h3>
                              <p>templatemo provides a wide variety of free Bootstrap Templates for you. Please tell your friends about us. Thank you.</p>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <h2>Move your ministry to the next level. Achieve what you set out to do. </h2>

                              <figure>
                                   <span><i class="w3-hover-black fa fa-users"></i></span>
                                   <figcaption>
                                        <h3>Transport</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="w3-hover-black  fa fa-certificate"></i></span>
                                   <figcaption>
                                        <h3>Sound</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="w3-hover-black  fa fa-bar-chart-o"></i></span>
                                   <figcaption>
                                        <h3>Technical Support</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>

                    <div class="col-md-offset-1 col-md-4 col-sm-12 ">
                         <div class="entry-form w3-hover-red">
                           <h1 class="w3-text-white"> We Offer Unparalled Support To Your Ministry</h1>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- Partners -->
     <section id="partner">
          <div class="container">
               <div class="row">
              
                   

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Partners <small>Meet our partners</small></h2>
                         </div>
                    </div>
               {% if partners %}
                    {% for  partner in partners %}

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="{{ partner.photo.url }}" class="img-responsive" alt="" style="height:300px;">
                              </div>
                              <div class="team-info">
                                   <h3>{{ partner.first_name }}</h3>
                                   <span>{{ partner.ministry_name }}</span>
                                   <a href="{% url 'partner' partner.id %}" class="btn w3-btn w3-hover-green btn-block">Discover More</a>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-12">
                         <p>No Partners Available</p>
                    </div>
                {% endif %}
               </div>
          </div>
     </section>


     <!-- Blog -->
     <section id="courses">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Blog<small>Upgrade your skills with newest courses</small></h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-courses">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/courses-image1.jpg" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 12 / 7 / 2018</span>
                                                       <span><i class="fa fa-clock-o"></i> 7 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Social Media Management</a></h3>
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/author-image1.jpg" class="img-responsive" alt="">
                                                       <span>Mark Wilson</span>
                                                  </div>
                                                  <div class="courses-price">
                                                       <a href="#"><span>USD 25</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/courses-image2.jpg" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 20 / 7 / 2018</span>
                                                       <span><i class="fa fa-clock-o"></i> 4.5 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Graphic & Web Design</a></h3>
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/author-image2.jpg" class="img-responsive" alt="">
                                                       <span>Jessica</span>
                                                  </div>
                                                  <div class="courses-price">
                                                       <a href="#"><span>USD 80</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/courses-image3.jpg" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 15 / 8 / 2018</span>
                                                       <span><i class="fa fa-clock-o"></i> 6 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Marketing Communication</a></h3>
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/author-image3.jpg" class="img-responsive" alt="">
                                                       <span>Catherine</span>
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Free</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/courses-image4.jpg" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 10 / 8 / 2018</span>
                                                       <span><i class="fa fa-clock-o"></i> 8 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Summer Kids</a></h3>
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/author-image1.jpg" class="img-responsive" alt="">
                                                       <span>Mark Wilson</span>
                                                  </div>
                                                  <div class="courses-price">
                                                       <a href="#"><span>USD 45</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/courses-image5.jpg" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 5 / 10 / 2018</span>
                                                       <span><i class="fa fa-clock-o"></i> 10 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Business &amp; Management</a></h3>
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/author-image2.jpg" class="img-responsive" alt="">
                                                       <span>Jessica</span>
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Free</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                         </div>

               </div>
          </div>
     </section>


     <!-- TESTIMONIAL -->
     <section id="testimonial">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Partners Reviews <small>from all over the country</small></h2>
                         </div>
                         
 
    {% if testimonials %}
    <div class="w3-container">
      
       
        <table class="w3-table">
         
          
          {% for testimonial in testimonials %}
          <tr>
            <td>{{testimonial.partner}}</td>
            <td>{{testimonial.date_posted}}</td>
            <td>{{testimonial.testimony}}</td>
           
          </tr>
          
          
          {% endfor %}
    {% else %}
    
    <p>THere are no testimonies</p>
    
    {% endif %}
        </table>
      </div>
     </div>

                         <div class="owl-carousel owl-theme owl-client">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="images/tst-image1.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Jackson</h4>
                                             <span>Shopify Developer</span>
                                        </div>
                                        <p>You really do help young creative minds to get quality education and professional job search assistance. I’d recommend it to everyone!</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>
                         </div>

               </div>
          </div>
     </section>

      


     <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">

                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src="{% static "images/contact-image.jpg" %}" class="img-responsive" alt="Smiling Two Girls" style="height: 500px;">
                         </div>
                    </div>

               </div>
          </div>
     </section>



     <!-- SCRIPTS -->

     <script>
var myIndex = 0;
carousel();

function carousel() {
     var i;
     var x = document.getElementsByClassName("mySlides");
     for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
     }
     myIndex++;
     if (myIndex > x.length) {myIndex = 1}    
     x[myIndex-1].style.display = "block";  
     setTimeout(carousel, 5000); // Change image every 2 seconds
}

//buttons navigation

               var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>
     
               

</body>
</html>

{% endblock %}
