{% extends 'base.html' %}

{% load static %}

{% block title %} | Welcome {% endblock %}

{% block content %}


    <!-- Inquiry Modal -->
<div class="card Jumbotron w3-margin w3-black mb-3">
    <button class="w3-white w3-xlarge w3-round-xxlarge w3-center w3-hover-red  w3-btn w3-block" data-toggle="modal" data-target="#inquiryModal"> <h1 class="w3-jumbo w3-center">Partners Testimonies</h1>
       
        <h4> Create your testimony here</h4>
    </button>
</div>
    <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header w3-win8-red">
            <h5 class="modal-title" id="inquiryModalLabel">Testimonial forms</h5>
        
            <button type="button" class="close" data-dismiss="modal">
            <span class="w3-text-white">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <form action="{% url 'testimonial' %}" method="POST">
                {% csrf_token %}
            
                {% if user.is_authenticated %}
            
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                {% else %}
                    <input type="hidden" name="user_id" value="0">
                {% endif %}
                <input type="hidden" name="testimonial_id" value="{{ testimonial.id }}">
                <div class="form-group">
                <label for="partner">Partner</label>
                        <input type="text" name="partner" class="form-control" required>
                </div>
    
                <div class="form-group">
                    <label for="testimony" class="col-form-label">Please fill in any other details here:</label>
                    <textarea name="testimony" class="form-control"></textarea>
                </div>
                <hr>
                <input type="submit" value="Send" class="btn btn-block btn-secondary">
                </form>
            
            </div>
            </div>
        </div>
        </div>
    </div>

                                                <!-- TESTIMONIAL -->
    <section id="testimonial">
        <div class="container">
             {% if testimonials %}
                  <h2>Partner Testimonials </h2>
                       {% for testimonial in testimonials %}
                            <div class="w3-panel">             
                                 <div class="w3-container ">
                                      <h3 class="w3-left-align" >{{testimonial.partner}}</h3>
                                      <p class="w3-left-align">{{testimonial.date_posted}}</p>
                                      <img src="{{ testimonial.partner.profile.image.url }}" alt=" " class="w3-left w3-border w3-padding w3-circle" style="padding:2px; width:115px;">
                                      <p class="w3-left-align">{{testimonial.testimony|safe}}</p>
                                 </div>
                            </div>
                       {% endfor %}
             {% else %}                                    
             <p>There are no testimonies</p>
            {% endif %}   
        </div>
    </section>

{% endblock %}





