{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | Browse Property Listings {% endblock %}

{% block content %}

<div class="w3-center">
        <a href="{% url 'partner' partner.id %}" class="btn w3-theme-d5 w3-hover-green btn-block">More Info
<img  src="{{ user.profile.image.url }}" style="width:150px"></a>
</div>
<div class="">
        <section id="showcase-inner" class="py-5 text-white">
            <div class="container">
              <div class="row text-center">
                <div class="col-md-12">
                  
                  <h1 class="display-4">Our Partners</h1>
                  <p class="lead">One God, One Christ, One Church, One Body</p>
                </div>
              </div>
            </div>
          </section>
        
        
        {% endblock %}